.
..
.DS_Store


proyectos/parking_eafit/node_modules/


academico/semestre_1/temp/bed_sensor/node_modules/
academico/semestre_1/temp/bed_sensor/package-lock.json

proyectos/parking_eafit/package-lock.json
