doctype html
html
	head
		meta(charset='utf-8')
		// Import Google Icon Font
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		// Import materialize.css
		link(type='text/css', rel='stylesheet', href='css/app.css', media='screen,projection')
		// Let browser know website is optimized for mobile
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		header
			nav
				.nav-wrapper
					a.brand-logo(href='#') EAFIT Park
					ul#nav-mobile.right.hide-on-med-and-down
						li
							a(href='/') Home
						li
							a(href='/about') about
						li
							a(href='collapsible.html') JavaScript
		main
			#container.container
				// Page Content goes here
		footer
		// JavaScript at end of body for optimized loading
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js')
		script(src='https://www.gstatic.com/firebasejs/4.9.1/firebase.js')
		script.
			// Initialize Firebase
			var config = {
			apiKey: "AIzaSyAeIno4ELxKofq-V9_GjkrhfbZN_KXdSOo",
			authDomain: "eafit-park.firebaseapp.com",
			databaseURL: "https://eafit-park.firebaseio.com",
			projectId: "eafit-park",
			storageBucket: "eafit-park.appspot.com",
			messagingSenderId: "873788544899"
			};
			firebase.initializeApp(config);
		script(type='text/javascript', src='js/app.js')

