.progress {
	height: 30px !important;
	background-color: #d7dada !important;
}

.btn {
	background-color: #3A5FFF !important;
}

div.nav-wrapper {
	background-color: #2DC3FF !important;
}

button.btn.waves-effect.waves-light.sign {
	background-color: #3A5FFF;
}

button.btn.waves-effect.waves-light.logout {
	background-color: #f44336;
}

@import "node_modules/materialize-css/sass/materialize.scss";